
@{
    ViewBag.Title = "_6LyDo";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="content">
    <div class="content-wrapper">
        <div id="why">
            <div class="container">
                <ol id="breadcrumb" class="breadcrumb">
                    <li><a href="/" title="Trang ch?">Trang chủ</a></li>
                    <li><a href="" title="Giới thiệu">Giới thiệu</a></li>


                </ol>

                <div class="title text-center text-uppercase cfm">
                    <h2>6 LÝ DO CHỌN MINIONS</h2>
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="why">
                            <a title="10 năm kinh nghiệm giảng dạy Tiếng Anh mầm non, Tiểu học  tại Việt Nam">
                                <img src="/Content/HTML/resources/img/20170105135443_untitled-4.jpg" alt="10 năm kinh nghiệm giảng dạy Tiếng Anh mầm non, Tiểu học  tại Việt Nam" />
                                <h3><span>10 năm kinh nghiệm giảng dạy Tiếng Anh mầm non, Tiểu học  tại Việt Nam</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="why">
                            <a title="Chương trình Tiếng anh chuyên biệt đầu tiên cho trẻ 3-15 tuổi ">
                                <img src="/Content/HTML/resources/img/20170105135309_untitled-3.jpg" alt="Chương trình Tiếng anh chuyên biệt đầu tiên cho trẻ 3-15 tuổi " />
                                <h3><span>Chương trình Tiếng anh chuyên biệt đầu tiên cho trẻ 3-15 tuổi </span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="why">
                            <a title="Môi trường học tiếng anh hàng ngày đa phương tiện &quot;Hear, Say, See, Do&quot;">
                                <img src="/Content/HTML/resources/img/20170105140137_untitled-5.jpg" alt="Môi trường học tiếng anh hàng ngày đa phương tiện &quot;Hear, Say, See, Do&quot;" />
                                <h3><span>Môi trường học tiếng anh hàng ngày đa phương tiện &quot;Hear, Say, See, Do&quot;</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="why">
                            <a title="100%  giảng dạy theo tiêu chuẩn quốc tế, tổ chức thi và lấy chứng chỉ Cambridge">
                                <img src="/Content/HTML/resources/img/20170105141031_untitled-8.jpg" alt="100%  giảng dạy theo tiêu chuẩn quốc tế, tổ chức thi và lấy chứng chỉ Cambridge" />
                                <h3><span>100%  giảng dạy theo tiêu chuẩn quốc tế, tổ chức thi và lấy chứng chỉ Cambridge</span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="why">
                            <a title="Hệ thống giáo trình, phương pháp giảng dạy, cơ sở vật chất tiêu chuẩn dành riêng cho trẻ em ">
                                <img src="/Content/HTML/resources/img/20170105142649_5.jpg" alt="Hệ thống giáo trình, phương pháp giảng dạy, cơ sở vật chất tiêu chuẩn dành riêng cho trẻ em " />
                                <h3><span>Hệ thống giáo trình, phương pháp giảng dạy, cơ sở vật chất tiêu chuẩn dành riêng cho trẻ em </span></h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="why">
                            <a title="100% giáo viên nước ngoài, Việt Nam đạt tiêu chuẩn sư phạm,  trẻ trung, nhiệt tình, năng động, yêu trẻ và hiểu trẻ">
                                <img src="/Content/HTML/resources/img/20170105143509_6.jpg" alt="100% giáo viên nước ngoài, Việt Nam đạt tiêu chuẩn sư phạm,  trẻ trung, nhiệt tình, năng động, yêu trẻ và hiểu trẻ" />
                                <h3><span>100% giáo viên nước ngoài, Việt Nam đạt tiêu chuẩn sư phạm,  trẻ trung, nhiệt tình, năng động,...</span></h3>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>