
@{
    ViewBag.Title = "CauHoiThuongGap";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang ch?">Trang chủ</a></li>
                <li><a href="/kien-thuc-va-kinh-nghiem" title="Ph? huynh">Phụ huynh</a></li>

                <li class="active"><a href="/cac-cau-hoi-thuong-gap" title="C&#193;C C&#194;U H?I THU?NG G?P">CÁC CÂU HỎI THƯỜNG GẶP</a></li>
            </ol>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="main-content">
                        <h1>CÂU HỎI THƯỜNG GẶP</h1>
                        <div class="panel-group" id="why-choose">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-1" aria-expanded="true">Tôi muốn đăng ký theo học 1 khóa học tiếng anh tại Minions thì thủ tục thế nào</a>
                                    </h4>
                                </div>
                                <div id="why-choose-1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Tại Minions, trước khi theo học học viên sẽ đăng ký tham gia học thử (đối với những Bé chưa có trình độ Tiếng anh) và kiểm tra 
                                        trình độ (đối với những Bé đã có trình độ Tiếng Anh) 
                                        là 2 buổi miễn phí qua hình thức đăng ký thông tin trên form Đăng ký học thử miễn phí, điều này nhằm xác định trình độ hiện tại của học viên đồng thời giúp phụ 
                                        huynh quan sát, tìm hiểu về chương trình học, phương pháp giảng dạy tại Minions. Dựa trên kết quả đánh giá của giáo viên, Minions sẽ tư vấn khóa học phù hợp với trình độ cũng như nhu cầu của bạn. Các khóa học
                                         tại Minions được chia theo cấp độ chuẩn của Cambridge, nên bạn sẽ được tư vấn dựa trên trình độ tiếng Anh hiện tại cũng như độ tuổi của bản thân.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-2" aria-expanded="">Các khóa học Tiếng anh cho trẻ em tại Minions được sắp xếp như thế nào?</a>
                                    </h4>
                                </div>
                                <div id="why-choose-2" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Các khóa học tiếng Anh cho trẻ em tại Minions được chia theo độ tuổi và trình độ theo chuẩn Cambirdge: Starters, Movers, Flyers, KET và PET bao gồm 3 khóa học chính:  Tiếng Anh mầm non (3-5 tuổi); Tiếng Anh tiểu học (6-10 tuổi)  và Tiếng Anh thiếu niên (11-15 tuổi).</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-3" aria-expanded="">Có bao nhiêu học viên trong 1 lớp học?</a>
                                    </h4>
                                </div>
                                <div id="why-choose-3" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Các lớp học tại Minions luôn được duy trì với sĩ số tối đa 15 bé/lớp, để tăng cường sự kết nối,
                                         nâng cao hiệu quả tương tác giữa học sinh và giáo viên. Điều này tạo điều kiện cho giáo viên quan sát từng điểm mạnh – yếu của từng bé trong lớp 
                                        học cũng như định hướng các cách khắc phục cho phụ huynh hướng dẫn bé ôn tập thêm tại gia đình.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-4" aria-expanded="">Làm sao để nắm bắt được thông tin về quá trình học tập
                                         hàng ngày của con?</a>
                                    </h4>
                                </div>
                                <div id="why-choose-4" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Minions luôn cập nhật tình hình học tập của các bé cho‎ phụ huynh trong suốt quá trình học. 
                                        Khi các bé tham gia khóa học, mỗi học viên của lớp học đều được cấp một tài khoản thành viên để hàng ngày phụ huynh truy cập website, theo dõi nội dung 
                                        học tập hàng ngày của Con trên lớp, đánh giá của giáo viên về học viên, bài tập về nhà, điểm của học viên (điểm sẽ được giáo viên cập nhật theo từng: tháng, 
                                        quý, trình độ), thư viện hình ảnh và video lớp học của học viên qua menu Ống kính lớp học. </p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-5" aria-expanded="">Con tôi mới 3 tuổi nhưng tôi muốn cho cháu đi học tiếng Anh.
                                         Tại Minions có chương trình nào cho lứa tuổi này không? Con không biết chữ thì học như thế nào?</a>
                                    </h4>
                                </div>
                                <div id="why-choose-5" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Minions là trung tâm anh ngữ chuyên biệt dành riêng cho trẻ em. Chương trình Tiếng anh mầm non (Từ 3-5 tuổi)
                                         được thiết kế rất vui nhộn. Đến với lớp học Tiếng Anh mầm non các Bé sẽ được học trong môi trường "Học mà chơi, chơi mà học", thông qua nhiều hình thức
                                         học tập khác nhau: học qua bảng điện tử It Board, ngôn ngữ cơ thể, thẻ tranh từ, bài hát, trò chơi...giúp Bé học tập, làm quen với Tiếng Anh một cách tự 
                                        nhiên, thoải mái, yêu thích Tiếng Anh và đầy cảm hứng học Tiếng Anh.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-6" aria-expanded="">Khi có việc bận, phụ huynh có thể bảo lưu học phí và học bù lại
                                         cho bé sau không?</a>
                                    </h4>
                                </div>
                                <div id="why-choose-6" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Phụ huynh có thể bảo lưu học phí và đăng ký cho bé học lại trong một lớp khác có cấp độ tương đương trong vòng 03
                                         tháng kể từ ngày bảo lưu. Phụ huynh đăng ký làm thủ tục bảo lưu và học lại tại quầy lễ tân chi nhánh Bé đang theo học.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#why-choose" href="#why-choose-7" aria-expanded="">Làm sao để tôi xem được những nội dung học tập hàng ngày, 
                                        bài tập về nhà, nhận xét của giáo viên, hình ảnh của Bé trên lớp học?</a>
                                    </h4>
                                </div>
                                <div id="why-choose-7" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <p style="text-align: justify;">Tất cả học viên các lớp học đều được cấp một tài khoản thành viên để hàng ngày phụ huynh truy cập website, theo dõi
                                         nội dung học tập hàng ngày của Con trên lớp, đánh giá của giáo viên về học viên, bài tập về nhà, điểm của học viên (điểm sẽ được giáo viên cập nhật theo từng:
                                         tháng, quý, trình độ), thư viện hình ảnh và video lớp học của học viên qua menu Ống kính lớp học. Phụ huynh liên hệ quầy lễ tân của chi nhánh để được cung cấp
                                         Thông tin tài khoản.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           

            </div>
        </div>
    </div>
</div>



