
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang ch?">Trang chủ</a></li>
                <li><a href="" title="Giới thiệu">Giới thiệu</a></li>

               
            </ol>
            <div class="row">
                <div class="col-md-12 col-xs-12 pull-right">
                    <div class="main-content">
                        <h1>VỀ MINIONS</h1>
                        <p style="line-height: 1.6;text-align: justify;margin-bottom: 30px"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;">Hệ thống Anh ngữ quốc tế Minions được thành lập 
                            ngày 1/7/2007 với sứ mệnh trở thành tổ chức giáo dục Tiếng Anh trẻ em số 1 tại Việt Nam từ nghiên cứu, dạy học cho đến cung cấp hệ thống giáo trình tiêu chuẩn, các thiết bị
                             học tập tiếng Anh hiệu quả. Từ đó tạo ra môi trường học tập Tiếng Anh toàn diện nhất cho trẻ em Việt Nam.</span></p>

                        <p style="line-height: 1.6;text-align: justify;margin-bottom: 30px"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;">Sau 10 năm phát 
                            triển, hiện nay Minions gồm 16 đơn vị trực thuộc và gần 100 đơn vị liên kết trên toàn quốc. Minions cung cấp các khóa học TIếng Anh trẻ em theo tiêu chuẩn quốc tế, bao gồm:
                             </span></p>

                        <p style="line-height: 1.6;text-align: justify;margin-bottom: 30px"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;">
                            - Tiếng anh mầm non (Từ 3-5 tuổi)</span></p>

                        <p style="line-height: 1.6;text-align: justify;margin-bottom: 30px"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px;">
                            - Tiếng anh tiểu học (Từ 6-10 tuổi)</span></p>

                        <p style="line-height: 1.6;text-align: justify;margin-bottom: 30px"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;">
                            - Tiếng anh thiếu niên (Từ 11-15 tuổi)</span></p>

                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><strong style="color: rgb(128, 0, 128); text-align: center;"><span style="font-family: Arial; font-size: 14px; text-align: justify;">
                            GIỚI THIỆU MINIONS ENGLISH</span></strong></p>

                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/t0VB_0YDZ1w?ecver=1" width="560"></iframe></p>


                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><span style="color:#800080;"><strong><span style="font-family: Arial; font-size: 14px; text-align: justify;">
                            MINIONS VÀ NHỮNG CON SỐ ẤN TƯỢNG</span></strong></span></p>

                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/MTeATiPvMfc?ecver=1" width="560"></iframe></p>

                        <div class="tab-title">
                            <ul>
                                <li class="active"><a href="#tab-1" data-toggle="tab">Thông tin liên hệ</a></li>
                            
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane fade in active">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Tên doanh nghiệp:</b></td>
                                            <td>Hệ thống Anh ngữ quốc tế minions</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Trụ sở chính</b></td>
                                            <td>235 Hoàng Quốc Việt</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Tel:</b></td>
                                            <td>(+84)43 7854634</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Hotline:</b></td>
                                            <td>0966 710 020</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Fax:</b></td>
                                            <td>(+84) 4 7855643</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Email:</b></td>
                                            <td>contact@minions.com.vn</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 10px 5px;padding-left: 0"><b>Website:</b></td>
                                            <td>www.minions.com.vn</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                           
                            
                        </div>
                    </div>
                </div>
              

            </div>
        </div>
    </div>
</div>

