
@{
    ViewBag.Title = "KienThuc";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                <li><a href="/kien-thuc-va-kinh-nghiem" title="Phụ huynh">Phụ huynh</a></li>

                <li class="active"><a href="/kien-thuc-va-kinh-nghiem" title="KIẾN THỨC VÀ KINH NGHIỆM">KIẾN THỨC VÀ KINH NGHIỆM</a></li>
            </ol>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="main-content">
                        <h1>KIẾN THỨC VÀ KINH NGHIỆM</h1>
                        <div class="news-list" id="listing_ajax_container">
                            <div class="news">
                                <div class="img">
                                    <a href="~/Views/Home/KienThuc1"title="Bước khởi đầu tốt, sẽ tạo nền móng cho sự phát triển về sau"><img src="~/Content/HTML/resources/img/20170105104254_20161121151506_course1.png" />"</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="/Home/KienThuc1" title="Bước khởi đầu tốt, sẽ tạo nền móng cho sự phát triển về sau">Bước khởi đầu tốt, sẽ tạo nền móng cho 
                                        sự phát triển về sau</a></h3>
                                    <div class="time"><i class="fa fa-clock-o color-red"></i> 15/12/2017</div>
                                    <div class="short-desc">
                                        <p>     </p>
                                    </div>
                                    <a href="/Home/KienThuc1" title="Bước khởi đầu tốt, sẽ tạo nền móng cho sự phát triển về sau" class="btn-detail">Chi tiết</a>
                                </div>
                            </div>
                            <div class="news">
                                <div class="img">
                                    <a href="/Home/KienThuc2" title="Nên hay không cho trẻ em tham gia các kha học tiếng anh hè?">
                                        <img src="~/Content/HTML/resources/img/20170105105857_7-9.png" /></a>
                                </div>
                                <div class="desc">
                                    <h3><a href="/Home/KienThuc2" title="Nên hay không cho trẻ em tham gia các khóa học tiếng anh hè?">Nên hay không cho trẻ em tham gia các
                                         khóa học tiếng anh hè?</a></h3>
                                    <div class="time"><i class="fa fa-clock-o color-red"></i> 14/04/2017</div>
                                    <div class="short-desc">
                                        <p>         Mùa hè - Thời gian lý tưởng để các bậc phụ huynh &quot;bù đắp và nâng cấp trình độ tiếng anh của trẻ em. Tuy nhiên, lại 
                                        có những ý kiến trái chiều cho rằng mùa hè là thời gian nghỉ ngơi, để trẻ được vui chơi, khám phá? Vậy nên hay không cho trẻ em tham 
                                        gia các khóa học tiếng anh hè?</p>
                                    </div>
                                    <a href="/Home/KienThuc2" title="Nên hay không cho trẻ em tham gia các khóa học tiếng anh hè?" class="btn-detail">Chi tiết</a>
                                </div>
                            </div>
                            <div class="news">
                                <div class="img">
                                    <a href="/Home/KienThuc3" title="Để trẻ em học  tiếng Anh tốt nhất"><img src="~/Content/HTML/resources/img/20170105135309_untitled-3.jpg" /></a>
                                </div>
                                <div class="desc">
                                    <h3><a href="/Home/KienThuc3" title="Để trẻ em học  tiếng Anh tốt nhất">Để trẻ em học  tiếng Anh tốt nhất</a></h3>
                                    <div class="time"><i class="fa fa-clock-o color-red"></i> 24/02/2017</div>
                                    <div class="short-desc">
                                        <p> Nên cho trẻ em học tiếng anh ở đâu? và phương pháp dạy Tiếng anh trẻ em như thế nào là tốt nhất?Đó là những băn khoăn của
                                         không ít các phụ huynh hiện nay. Câu trả lời là: Hãy xây dựng cho bé niềm đam mê với môn học này ngay từ nhỏ, thông qua việc tiếp xúc 
                                        với các chương trình Anh ngữ vui nhộn và phù hợp với tâm lý lứa tuổi.</p>
                                    </div>
                                    <a href="/Home/KienThuc3" title="Để trẻ em học  tiếng Anh tốt nhất" class="btn-detail">Chi tiết</a>
                                </div>
                            </div>
                            
                          
                            <script type="text/javascript">
    
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

