
@{
    ViewBag.Title = "KienThuc2";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                <li><a href="/kien-thuc-va-kinh-nghiem" title="Phụ huynh">Phụ huynh</a></li>

                <li class="active"><a href="/kien-thuc-va-kinh-nghiem" title="KIẾN THỨC VÀ KINH NGHIỆM">KIẾN THỨC VÀ KINH NGHIỆM</a></li>
            </ol>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="main-content">
                        <h1>Nên hay không cho trẻ em tham gia các khóa học tiếng anh hè?</h1>
                        <p><strong>Mùa hè </strong>- Thời gian lý tưởng để các bậc phụ huynh "bù đắp và nâng cấp trình độ tiếng anh cho trẻ em. Tuy nhiên, lại 
                        có những ý kiến trái chiều cho rằng mùa hè là thời gian nghỉ ngơi, để trẻ được vui chơi, khám phá?</p>

                        <p><strong>Vậy nên hay không cho trẻ em tham gia các khóa học <a href="http://minions.com.vn/Tieng-anh-he/"><span style="color:#0000CD;">tiếng
                             anh hè</span></a>?</strong></p>

                        <p>Trong xu thế toàn cầu hóa, tiếng Anh được coi là ngôn ngữ được sử dụng phổ biến nhất trên thế giới. Cho trẻ học tiếng anh từ sớm là tạo bước
                         đệm cho thành công trong tương lai. Theo nghiên cứu của các nhà khoa học trên thế giới thì cho trẻ học hè nói chung hay cho trẻ học tiếng anh 
                        hè cần kết hợp phương pháp &quot;<em><strong>vừa học vừa chơi</strong></em>&quot; để trẻ luôn thấy hứng thú, say mê và yêu thích học tập. Đây 
                        chính là phương pháp tốt nhất giúp trẻ bổ sung kiến thức và tạo bước&nbsp;đà hoàn hảo cho năm học mới</p>

                        <p style="text-align: center;"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/j-9UBNFZbag?ecver=1" width="560"></iframe></p>



                        <p><span style="color:#800080;"><strong><span style="background-color:#FFFFFF;">Học mà chơi, chơi mà họ</span></strong><span style="background-color:#FFFFFF;">c</span></span>: Tất cả các lớp học <strong><a href="http://Minions.com.vn"><span style="color:#0000CD;">tiếng anh trẻ em</span></a></strong> tại <strong>Anh ngữ Minions</strong> đều được kết hợp với các hoạt động ngoại khó;a giúp bé có; một mùa hè sinh động, vui nhộn mà vẫn bổ ích</p>

                        <p style="text-align: center;"><img alt="" src="/Uploads/images/nnk1.jpg" style="width: 50%;" /></p>

                        <p><span style="color:#800080;"><strong>Học kết hợp với phát triển toàn diện kỹ năng sống</strong></span>: Bên cạnh những hoạt động 
                        học tiếng anh tại lớp các thầy giáo, cô giáo tại <strong>Anh ngữ Minions</strong> luôn giúp trẻ rèn luyện kỹ năng mềm thông qua các hoạt
                         động nhó;m, những ứng dụng trong thực tế từng bước giúp trẻ bồi đắp nhân cách, tâm hồn</p>

                        <p><span style="color:#800080;"><strong>Kết hợp 3 môi trường trung tâm, gia đình và trực tuyến</strong></span> : phụ huynh luôn theo sát 
                        được việc học và vui chơi của con thông qua hệ thống tài khoản trực&nbsp;tuyến dành riêng cho mỗi học sinh, nhận xét của giáo viên, bài tập 
                        về nhà/củng cố, trình độ của bé luôn được cập nhật trên trang website của&nbsp;<strong>Anh ngữ Minions</strong></p>

                        <p>&quot;<em><strong>Học tiếng anh hè với tâm lý thoải mái chắc chắn sẽ đem lại hiệu quả cao nhất</strong></em>&quot; Hãy bắt đầu một mùa
                         hè đáng nhớ cho con mình bằng cách tham gia vào lớp học tiếng anh hè tại <strong>Anh ngữ Minions</strong> ngay từ hôm nay các mẹ nhé !</p>

                        <hr />
                        <p><strong>Chào đón Mùa hè 2017 và Nhân dịp khai trương CHI NHÁNH MỚI Minions Đà Nẵng 4 -  Anh ngữ Minions trân trọng gửi tới phụ huynh và 
                            các bạn học viên chương trình BIG SUMMER: &nbsp;</strong></p>

                        <p><strong>- ƯU ĐÃI HỌC PHÍ HÈ LÊN ĐẾN&nbsp;<span style="color: rgb(255, 0, 0);"><span style="font-size: 20px;">2.300.000 Đ &nbsp;</span></span></strong></p>

                        <p><strong>- Tặng áo phông Minions xinh xắn</strong></p>

                        <p><strong>- Tặng Giáo trình và Ba lô xinh</strong></p>

                        <p><strong>- Miễn phí 2 buổi học thử</strong></p>

                        <p style="text-align: center;"><img alt="" src="/Uploads/images/Summer%202017/big-summer.jpg" style="width: 399.5px;" /></p>

                        <p><em><strong>Hãy nhanh tay đăng ký lớp học cho các Bé để đem lại cho Bé một mùa hè vừa chơi vừa học thật bổ ích các mẹ nhé!</strong></em></p>

                        <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px;">
                            <tbody>
                                <tr>
                                    <td style="text-align: center;"><span style="color:#800080;"><strong>Hoặc gọi ngay Hotline : <span style="font-size:20px;">0966 710020</span></strong></span></td>
                                </tr>
                            </tbody>
                        </table>

                        <p style="text-align: center;">&nbsp;</p>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>
                        <div class="like">
                            <div class="addthis_sharing_toolbox"></div>
                        </div>
                    </div>

                   

                </div>
               

            </div>
        </div>
    </div>
</div>

