
@{
    ViewBag.Title = "KienThuc3";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                <li><a href="/kien-thuc-va-kinh-nghiem" title="Phụ huynh">Phụ huynh</a></li>

                <li class="active"><a href="/kien-thuc-va-kinh-nghiem" title="KIẾN THỨC VÀ KINH NGHIỆM">KIẾN THỨC VÀ KINH NGHIỆM</a></li>
            </ol>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="main-content">
                        <h1>Để trẻ em học  tiếng Anh tốt nhất</h1>
                        <p>Nên cho trẻ em học tiếng anh ở đâu? và phương pháp dạy Tiếng anh trẻ em như thế nào là tốt nhất?Đó là những băn khoăn của không ít
                         các phụ huynh hiện nay. Câu trả lời là: Hãy xây dựng 
                        cho bé niềm đam mê với môn học này ngay từ nhỏ, thông qua việc tiếp xúc với các chương trình Anh ngữ vui nhộn và phù hợp với tâm lý lứa tuổi.</p>

                        <p>Theo ông Stephen Thomas, cố vấn học vụ Hệ thống Anh văn Hội Việt Mỹ, để trẻ đạt được những thành tích xuất sắc và vượt trội trong học tập, 
                        chẳng hạn như nói tiếng Anh lưu loát ngay từ thuở nhỏ, quan trọng là cần xây dựng cho trẻ niềm đam mê học tiếng Anh. Ngoài ra, chúng ta cần tạo 
                        điều kiện cho bé tiếp xúc với các chương trình Anh ngữ đúng chuẩn, 
                        có sự giảng dạy trực tiếp của giáo viên bản xứ để bé trở nên tự tin, dạn dĩ, đặc biệt là rèn luyện cách phát âm chuẩn ngay từ đầu.</p>

                        <p style="text-align: center;"><img alt="" src="/Uploads/images/IMG_0523.jpg" style="width: 50%;" /></p>

                        <p><span style="color:#800080;"><strong>Chương trình học tiếng anh tốt cho bé</strong></span></p>
                        <p>Bằng việc học tiếng Anh lồng ghép các hoạt động vui chơi thư giãn, chương trình sẽ dẫn 
                        dắt các em vào thế giới Anh ngữ sinh động và cuốn hút. Với phương châm luôn chú trọng gia tăng sự tương tác trong lớp học tiếng Anh của 
                        trẻ em,Anh ngữ PoPoDoo đã đưa vào sử dụng các công cụ hỗ trợ hiện đại như các phần mềm chuyên dụng bảng điện tử ItBoard và bộ phần mềm 
                        Giáo trình PoPoDoo . Theo cách học này, các em sẽ trực tiếp đóng vai trò trung tâm bên cạnh sự trợ giúp và hướng dẫn của giáo viên bản ngữ.
                         Học viên được khuyến khích chủ động tham gia vào bài học, thực hành làm bài tập theo đội nhóm, hoặc chơi các trò chơi, bài hát vui nhộn...</p>
                        <p>Bên cạnh đó, các bậc phụ huynh có thể giúp con học tốt tiếng Anh bằng cách cùng học Anh ngữ với con ngay tại nhà, 
                        cũng là một cách hữu hiệu để theo dõi tình hình học tập tại lớp của con em. Chẳng hạn như cha mẹ hãy nói những câu tiếng Anh đơn giản được
                         lặp lại đi lặp lại nhiều lần, bé sẽ có phản xạ bắt đầu nghĩ đến tiếng Anh. Ngoài ra, các hoạt động "Học mà chơi - Chơi mà học" rất thú vị 
                        sẽ giúp con bạn trở nên hứng thú với việc học tiếng Anh hơn. Phụ huynh có thể cùng chơi trò chơi, đặt câu đố với con, qua đó ôn lại những bài
                         học trên lớp giúp trẻ nhớ lâu và có thêm sự hứng thú trong học tập. Bằng hình thức này, phụ huynh 
                        sẽ biến việc học thành cách thư giãn thú vị, giúp trẻ yêu thích vui học tiếng Anh và lĩnh hội kiến thức dễ dàng hơn.</p>

                        <p>Đặc biệt, với hơn 30 năm kinh nghiệm giảng dạy Tiếng Anh trên toàn cầu, kết hợp với bộ giáo trình chuyên biệt được hơn 400 chuyên gia tâm 
                        lí học, ngôn ngữ học, giáo dục học…cùng hợp tác nghiên cứu và biên tập và rất phù hợp với đặc điểm tâm lý  lứa tuổi, sở thích, cách trẻ em 
                        tiếp nhận ngôn ngữ mới, bộ giáo trình phát âm tự nhiên chúng tôi vận dụng và khai thác tối đa phương thức học tiếng mẹ đẻ để dạy ngôn ngữ thứ 2
                         cho trẻ nhỏ. Đó là cho trẻ lắng nghe, trải nghiệm các âm thanh, các từ ngữ đơn giản và sau đó dần hình thành khả năng sử dụng và diễn đạt bằng
                         ngôn ngữ. Hơn thế nữa, các giáo viên tại Trung tâm anh ngữ PoPoDoo với trình độ sư phạm & niềm đam mê giảng dạy sẽ tạo ra môi trường học tập an
                         toàn, 
                        và thoải mái phù hợp với đặc thù lứa tuổi trẻ em Châu Á giúp trẻ quan tâm, yêu thích và tự tin nói Tiếng Anh!</p>

                        <div class="like">
                            <div class="addthis_sharing_toolbox"></div>
                        </div>
                    </div>

                   

                </div>
               
            </div>
        </div>
    </div>
</div>

