
@{
    ViewBag.Title = "KienThuc1";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                <li><a href="/kien-thuc-va-kinh-nghiem" title="Phụ huynh">Phụ huynh</a></li>

                <li class="active"><a href="/kien-thuc-va-kinh-nghiem" title="KIẾN THỨC V&#192; KINH NGHIỆM">KIẾN THỨC V&#192; KINH NGHIỆM</a></li>
            </ol>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="main-content">
                        <h1>Bước khởi đầu tốt, sẽ tạo nền móng cho sự phát triển về sau</h1>
                        <p>
                            <strong>“Khi trẻ có thể cảm nhận Anh ngữ là ngôn ngữ của mình, trẻ sẽ thực hành tiếng Anh một cách rất tự nhiên trong cuộc sống và từ đó có được tiến bộ hàng ngày"</strong>. Ở độ tuổi mầm non/tiểu học, trẻ bắt đầu hình thành sự phát triển tính cách và năng khiếu riêng. Chính vì vậy mà mục tiêu của Anh ngữ MINIONS là làm sao để trẻ làm chủ được ngôn ngữ của mình một cách tự nhiên và hiệu quả nhất trên cơ sở kết hợp 3 môi trường:<br />
                            <br />
                            <span style="color:#FFFFFF;"><strong><span style="background-color:#800080;">1.  MÔI TRƯỜNG TẠI TRUNG TÂM </span></strong></span>
                        </p>

                        <ul style="margin-left: 40px;">
                            <li>Nội dung giảng dạy phong phú</li>
                            <li>Các giờ học thu hút kích thích phản xạ đa giác quan của trẻ</li>
                            <li>Phòng học được thiết kế sáng tạo, thân thiện kích thích khả năng sáng tạo cho trẻ.</li>
                            <li>1OO% giáo viên đạt tiêu chuẩn sư phạm, trẻ trung, nhiệt tình, năng động, yêu trẻ và hiểu trẻ</li>
                        </ul>

                        <p><span style="color:#FFFFFF;"><strong><span style="background-color:#800080;">2. MÔI TRƯỜNG GIA ĐÌNH:</span></strong></span>&nbsp; kết hợp bộ giáo trình #MINIONSEnglish hoàn thiện, hiện đại.</p>

                        <p><span style="color:#FFFFFF;"><strong><span style="background-color:#800080;">3. MÔI TRƯỜNG XÃ HỘI:</span></strong></span> qua những hoạt động ngoại khóa, thăm quan, dã ngoại.</p>

                        <hr />
                        <p>CÙNG MINIONS LẮNG NGHE NHỮNG TÂM SỰ CHIA SẺ CỦA CÁC BẬC PHỤ HUYNH KHI ĐANG CHO CON THEO HỌC TẠI MINIONS.</p>

                        <ul>
                            <li>Anh Tâm - phụ huynh bé Bảo Chi, một học viên đang theo học tại #MINIONS chia sẻ: <em><strong>"Từ ngày đi học tiếng Anh ở MINIONS, Con tỏ ra rất hứng thú và say mê môn học này, có cơ hội nào là con thực hành nói tiếng Anh ngay. Có lần cả gia đình đi du lịch cùng công ty, Con đã khiến chúng tôi, các đồng nghiệp và cả vợ chồng sếp người nước ngoài của tôi vô cùng ngạc nhiên, bất ngờ khi Con tự tin và thoải mái trò chuyện bằng tiếng Anh với họ."</strong></em></li>
                        </ul>

                        <p style="text-align: center;"><img alt="" src="/Content/HTML/resources/img/ngoaikhoa.jpg" style="width: 50%;" /></p>

                        <p style="text-align: center;"><em>Học ngoại khóa 9/12 tại Minions</em></p>

                        <ul>
                            <li>Chị Trà - phụ huynh bé Mimi, học viên lớp Tiếng anh mầm non tại MINIONS kể lại: <em><strong>“Ngày cuối tuần, cả nhà đang đi trên đường thì có gia đình người nước ngoài hỏi thăm đường, chưa đợi bố mẹ lên tiếng, Con đã nhanh nhảu chỉ đường vanh vách khiến mình ngạc nhiên và có chút tự hào”.</strong></em>&rdquo;.</li>
                        </ul>

                        <hr />
                        <p>Đừng do dự, liên hệ ngay cho MINIONS_English để xây dựng cho Bé một <strong>NỀN MÓNG</strong> &ndash; một môi trường học <a href="http://minions.com.vn">Tiếng anh trẻ em</a> tự nhiên nhất cùng MINIONS và cho con học_thử_tiếng_anh <strong>MIỄN_PHÍ bằng cách liên hệ cho MINIONS theo số Hotline 0966710020.&nbsp;</strong></p>

                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><strong style="color: rgb(128, 0, 128);"><span style="font-family: Arial; font-size: 14px; text-align: justify;">GIỚI THIỆU MINIONS ENGLISH</span></strong></p>

                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/_KI3KnRH8Ts?ecver=1" width="560"></iframe></p>

                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><span style="color: rgb(128, 0, 128);"><strong><span style="font-family: Arial; font-size: 14px; text-align: justify;">MINIONS VÀ NHỮNG CON SỐ ẤN TƯỢNG</span></strong></span></p>

                        <p style="line-height: 1.6; margin-bottom: 30px; text-align: center;"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/BsFDSHJMnpo?ecver=1" width="560"></iframe></p>
                        <div class="like">
                            <div class="addthis_sharing_toolbox"></div>
                        </div>

        </div>

                  

                </div>
              
            </div>
        </div>
    </div>
</div>
