
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>

                <li class="active"><a href="/tuyen-dung" title="Liên hệ">Liên hệ</a></li>
            </ol>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="main-content">
                    </div>
                    </div>  

            </div>
        </div>
    </div>
</div>

