@model TrungTamTiengAnh.Models.Entities.KhoaHoc

<div class="tab-content">
    <div id="tab1" class="tab-pane active">
        <div class="advantages-course">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tbody style="text-align:center">

                    <tr>

                        <td>
                            <img alt="" src="/Uploads/images/advantages1.png" style="width: 193px; height: 192px;" />
                            <h3 class="color-green" style="box-sizing: border-box; font-family: Arial; font-weight: bold; line-height: 1.1; margin-top: 20px; margin-bottom: 10px; font-size: 20px; text-transform: uppercase; text-align: center; color: rgb(29, 134, 40) !important;">TẠI TRUNG TÂM</h3>

                            <p style="text-align: justify;"><pan style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;">@Model.MoTa </pan></p>
                        </td>


                        <td>
                            <img alt="" src="/Uploads/images/advantages3.png" style="width: 193px; height: 191px;" />
                            <h3 class="color-violet" style="box-sizing: border-box; font-family: Arial; font-weight: bold; line-height: 1.1; margin-top: 20px; margin-bottom: 10px; font-size: 20px; text-transform: uppercase; text-align: center; color: rgb(142, 35, 125) !important;">Khai Giảng</h3>

                            <p style="text-align: justify;"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;"> Ngày khai giảng: <br /> @Model.NgayBatDau <br /> <br /> Ngày kết thúc: <br /> @Model.NgayKetThuc </span></p>
                        </td>
                        <td>
                            <img alt="" src="/Uploads/images/advantages4.png" style="width: 193px; height: 192px;" />
                            <h3 class="color-blue" style="box-sizing: border-box; font-family: Arial; font-weight: bold; line-height: 1.1; color: rgb(5, 83, 199); margin-top: 20px; margin-bottom: 10px; font-size: 20px; text-transform: uppercase; text-align: center;">Học Phí</h3>

                            <p style="text-align: justify;"><span style="color: rgb(17, 17, 17); font-family: Arial; font-size: 14px; text-align: justify;text-align: center;">@Model.HocPhi dong</span></p>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="text-right" style="margin: 20px 0">
            <div style="display: inline-block">
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
      
    </div>
  
    <div id="tab3" class="tab-pane">
        <div class="wrap-text">
            <p>&nbsp;</p>
        </div>
        <div class="text-right" style="margin: 20px 0">
            <div style="display: inline-block">
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
        <div class="text-center">
            <a href="" title="" class="btn btn-violet btn-register-course">
                <img src="/Home/Dangki" />
            </a>
        </div>
    </div>
</div>
