
<div class="col-md-3 col-sm-12 pull-left col-xs-12">
    <div class="sidebar">
        <div class="side-block sidenav side-course">
            <div class="title">
                <img src="/Content/HTML/resources/img/sidenav-bg.png" />
                <span>Khóa Học</span>
            </div>
            <ul>
                <li class="">
                    <div class="img">

                        <img src="~/Content/HTML/resources/img/20170105135443_untitled-4.jpg" />
                    </div>
                    <div class="desc">
                        <a href="/Home/DetailKhoaHoc?id=%202" title="Tiếng anh tiểu học 1">Tiếng anh tiểu học 1</a>
                    </div>
                </li>
                <li class="active">
                    <div class="img">
                        <img src="~/Content/HTML/resources/img/20170105135443_untitled-4.jpg" />
                    </div>
                    <div class="desc">
                        <a href="/Home/DetailKhoaHoc?id=%201" title="Tieng Anh Mam Non">Tiếng anh mầm non </a>
                    </div>
                </li>
                <li class="">
                    <div class="img">

                        <img src="~/Content/HTML/resources/img/20170105135443_untitled-4.jpg" />
                    </div>
                    <div class="desc">
                        <a href="/Home/DetailKhoaHoc?id=%203" title="Tiếng Anh tiểu học 2&3">Tiếng Anh tiểu học 2 & 3</a>
                    </div>
                </li>
                <li class="">
                    <div class="img">

                        <img src="~/Content/HTML/resources/img/20170105135443_untitled-4.jpg" />
                    </div>
                    <div class="desc">
                        <a href="/Home/DetailKhoaHoc?id=%204" title="Tiếng Anh Lớp Tiểu Học 4">Tiếng Anh Lớp Tiểu Học 4</a>
                    </div>
                </li>
                <li class="">
                    <div class="img">

                        <img src="~/Content/HTML/resources/img/20170105135443_untitled-4.jpg" />
                    </div>
                    <div class="desc">
                        <a href="/Home/DetailKhoaHoc?id=%205" title="Tiếng Anh Lớp Tiểu Học 5">Tiếng Anh Lớp Tiểu Học 5</a>
                    </div>
                </li>
                <li class="">
                    <div class="img">

                        <img src="~/Content/HTML/resources/img/20170105135443_untitled-4.jpg" />
                    </div>
                    <div class="desc">
                        <a href="/Home/DetailKhoaHoc?id=%206" title="Giao tiếp vui">Giao tiếp vui</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
