
@{
    ViewBag.Title = "TuyenDung";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}



<div id="content">
    <div class="content-wrapper">
        <div class="container">
            <ol id="breadcrumb" class="breadcrumb">
                <li><a href="/" title="Trang chủ">Trang chủ</a></li>

                <li class="active"><a href="/tuyen-dung" title="Tuyển dụng">Tuyển dụng</a></li>
            </ol>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="main-content">
                        <h1>Thông báo tuyển dụng: Nhân viên Kinh doanh/Tư vấn</h1>
                        <p>Anh ngữ Minions thương hiệu tiếng Anh dành cho trẻ em 3-12 tuổi. Thương hiệu đã có mặt tại Việt Nam từ 2007. Hiện nay hệ thống gồm 13 đơn vị trực thuộc và gần 100 đơn vị liên kết trên toàn quốc.</p>

                        <p>
                            <span style="color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">Bạn tự tin, có năng lực, có đam mê và luôn sẵn sàng cháy hết mình với công việc. Hoặc đơn giản là bạn biết bạn bè của mình phù hợp và đang cần một công việc ứng ý với môi trường làm việc chuyên nghiệp, cơ hội thăng tiến và mức lương cùng chế độ phúc lợi hấp dẫn.</span><br style="color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 14px;" />
                            <span class="_5mfr _47e3" style="line-height: 0; vertical-align: middle; margin: 0px 1px; font-family: Helvetica, Arial, sans-serif; color: rgb(29, 33, 41); font-size: 14px;"><img alt="" class="img" height="16" role="presentation" src="https://www.facebook.com/images/emoji.php/v9/f51/1/16/2714.png" style="border: 0px; vertical-align: -3px;" width="16" /><span class="_7oe" style="display: inline-block; font-size: 0px; width: 0px; font-family: inherit;">
                                ✔</span></span><span style="color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">&nbsp;Hãy gửi CV cho chúng tôi để ứng tuyển vào vị trí sau:</span>
                        </p>

                        <p style="text-align: center;"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Jv2lRVM4U8A?ecver=1" width="560"></iframe></p>

                        <p><span style="color: rgb(128, 0, 128);"><strong>VỊ TRí TUYỂN DỤNG: NHÂN VIÊN KINH DOANH/TƯ VẤN</strong></span></p>

                        <p><strong>1. Số lượng cần tuyển: 10</strong></p>

                        <p><strong>2. Địa điểm làm việc: 235 Hoàng Quốc Việt</strong></p>

                        <p><strong>3. Mô tả công việc :</strong></p>

                        <p>
                            - Tìm kiếm, tư vấn, chăm sóc phụ huynh có nhu cầu cho con học tiếng Anh<br />
                            - Chăm sóc giải đáp những thắc mắc và giải quyết các vấn đề xảy ra trong quá trình phụ huynh cho con theo học tại trung tâm.<br />
                            - Tham gia, lên kế hoạch các event, sự kiện của Trung tâm<br />
                            - Thực hiện các công việc hành chính khác theo quy trình của Trung tâm
                        </p>

                        <p><strong>4. Yêu cầu dự tuyển :</strong></p>

                        <p>
                            - Có kỹ năng thuyết phục, giao tiếp tốt, tác phong lịch sự, chuyên nghiệp.<br />
                            - Hòa đồng, nhanh nhẹn, nhiệt tình, trách nhiệm, trung thực.<br />
                            - Có kinh nghiệm, hiểu biết về lĩnh vực Giáo dục Tiếng Anh trẻ em là một lợi thế.
                        </p>

                        <p><strong>5. Các chế độ:</strong></p>

                        <p>- Lương cơ bản + Thưởng doanh số + Thưởng khác (Trao đổi cụ thể khi phỏng vấn)</p>

                        <p>- Các chính sách BHXH theo quy định của Nhà nước và chính sách đãi ngộ khác của Công ty</p>

                        <p>- Được đào tạo bài bản, chuyên nghiệp.</p>

                        <p>- Được hướng dẫn và làm việc theo nhóm.</p>

                        <p>- Thưởng cuối năm, thưởng ngày lễ và thưởng của bộ phận.</p>

                        <p>- Làm việc trong môi trường chuyên nghiệp, năng động, thân thiện.</p>

                        <hr />
                        <p><strong>Hồ sơ dự tuyển:</strong></p>

                        <p>CV ghi rõ quá trình học tập và làm việc, kèm ảnh mới nhất.</p>

                        <p>- Nhận CV qua E-mail : contact@Minions.com.vn</p>

                        <p>- Hạn nộp hồ sơ : 30/9/2018</p>

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>
                        <div class="like">
                            <div class="addthis_sharing_toolbox"></div>
                        </div>
                    </div>

                    <div class="other">
                        <h2>Bài viết liên quan</h2>
                        <ul>
                            <li><a href="/tuyen-dung/thong-bao-tuyen-dung-ke-toan-noi-bo" title="Thông báo tuyển dụng : Kế toán nội bộ">Thông báo tuyển dụng : Kế toán nội bộ</a></li>                     
                            <li><a href="/tuyen-dung/thong-bao-tuyen-dung-thang-4-2018" title="Thông báo tuyển dụng tháng 4/2018">Thông báo tuyển dụng tháng 4/2018</a></li>
                            <li><a href="/tuyen-dung/thong-bao-tuyen-dung-thang-3-2018" title="Thông báo tuyển dụng tháng 3/2018">Thông báo tuyển dụng tháng 3/2018</a></li>
                            <li><a href="/tuyen-dung/thong-bao-tuyen-dung-thang-2-2018" title="Thông báo tuyển dụng tháng 2/2018">Thông báo tuyển dụng tháng 2/2018</a></li>
                           
                          
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


