@{
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<div class="intro">
    <h1>VỀ POPODOO</h1>

    Hệ thống Anh ngữ quốc tế PoPoDoo được thành lập ngày 1/7/2007 với sứ mệnh trở thành tổ chức giáo dục Tiếng Anh trẻ em số 1 tại Việt Nam từ nghiên cứu, dạy học cho đến cung cấp hệ thống giáo trình tiêu chuẩn, các thiết bị học tập tiếng Anh hiệu quả. Từ đó tạo ra môi trường học tập Tiếng Anh toàn diện nhất cho trẻ em Việt Nam.
    <br/>
    Sau gần 10 năm phát triển, hiện nay PoPoDoo gồm 13 đơn vị trực thuộc và hơn 60 đơn vị liên kết trên toàn quốc. PoPoDoo cung cấp các khóa học TIếng Anh trẻ em theo tiêu chuẩn quốc tế, bao gồm:
    <br/>
    - Tiếng anh mầm non (Từ 3-5 tuổi)
    <br/>
    - Tiếng anh tiểu học (Từ 6-10 tuổi)
    <br />
    - Tiếng anh thiếu niên (Từ 11-15 tuổi)
</div>